<h1>Listing messages</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Date from</th>
    <th>Date to</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.message %></td>
    <td><%= message.date_from %></td>
    <td><%= message.date_to %></td>
    <td><%= message.category_id %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
