<%= form_for(@note, :html => { :class => "ym-form ym-columnar"}) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ym-fbox-text">
    <%= f.label :Notat %>
    <%= f.text_area :note, :rows => "10" %>
  </div>
  <div class="field ym-fbox-select">
    <%= f.label :Dato %>
    <%= f.date_select :date_from, {}, { :style => "width: 23%" } %>
  </div>

  <p>
    <% for animal in Animal.find(:all) %>
      <div>
	<%= check_box_tag "message[animal_ids][]", animal.id, @note.animals.include?(animal) %>
	<%= animal.id_tag %>
      </div>
    <% end %>
  </p>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
