<h1>Listing messages</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Date from</th>
    <th>Date to</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |n| %>
  <tr>
    <td><%= n.note %></td>
    <td><%= n.date_from %></td>
    <td><%= n.date_to %></td>
    <td><%= n.category_id %></td>
    <td><%= link_to 'Show', n %></td>
    <td><%= link_to 'Edit', edit_message_path(n) %></td>
    <td><%= link_to 'Destroy', n, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_note_path %>
