<%= form_for(@owner, :html => { :class => "form-horizontal"} ) do |f| %>
    <% if @owner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

          <ul>
            <% @owner.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Person number", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :pnum %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Organisation number", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :orgnum %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Manufacturer number", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :prodnum %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit yield(:SaveLabel), class: "btn btn-large btn-primary" %>
      <%= link_to 'Close', owners_path, class: "btn btn-large btn-primary" %>
    </div>
<% end %>
