<% provide(:title, @owner.name) %>
<h1><%= @owner.name %></h1>
<ul>
  <li>Email: <%= @owner.email %></li>
  <li>OrgNum: <%= @owner.orgnum %></li>
  <li>PNum: <%= @owner.pnum %></li>
  <li>Total number of animals: <%= @owner.living_animals.count %></li>
  <li>Users: <%= @owner.users.count %></li>
  <ul>
    <% @owner.users.each do |user| %>
    <li><%=  user.name %>, <%= user.email %></li>
    <% end %>
  </ul>
</ul>
<%= link_to 'Edit', edit_owner_path(@owner), class: "btn btn-large btn-primary" %>
<%= link_to 'Close', owners_path, class: "btn btn-large btn-primary" %>
<br/>
<br/>
<%= form_for(@owner) do |f| %>
    <%= hidden_field_tag :user, current_user.id %>
    <% if @owner.users.exists?(current_user) %>
        <%= hidden_field_tag :Add, false %>
        <%= f.submit 'Remove me from this owner', class: "btn btn-large btn-primary" %>
    <% else %>
        <%= hidden_field_tag :Add, true %>
        <%= f.submit 'Add me to this owner', class: "btn btn-large btn-primary" %>
    <% end %>
<% end %>

