<%= form_for(@animal, :html => { :class => "form-horizontal"} ) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Namn, class: "control-label" %>
    <div class="controls">
        <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Id_merke, class: "control-label" %>
    <div class="controls">
        <%= f.text_field :id_tag %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Fødselsdato, class: "control-label" %>
    <div class="controls">
        <%= f.date_select :birth_date, {}, { :style => "width: 23%" } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kjønn, class: "control-label" %>
    <div class="controls">
        <%= f.enum_select :sex %>
    </div>
  </div>
 
  <div class="control-group">
    <%= f.label :Mor, class: "control-label" %>
    <div class="controls">
        <%= f.collection_select(:mother_id, @animal.all_females, :id, :name, {:prompt => true}) %>
    </div>
 </div>
 <div class="control-group">
   <%= f.label :Far, class: "control-label" %>
   <div class="controls">
      <%= f.collection_select(:father_id, @animal.all_males, :id, :name, {:prompt => true}) %>
   </div>
 </div>

  <div class="actions">
    <%= f.submit "Lagre", class: "btn btn-large btn-primary" %>
    <%= link_to 'Lukk', animals_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
