<div id="livestock-show-animal">
  <% if @animal.sex = "female" %>
    <h1>Søye <%= @animal.id_tag %></h1>
  <% else %>
    <h1>Vær <%= @animal.id_tag %></h1>
  <% end %>
  <p class="notice"><%= notice %></p>

  <p>
    <b>Namn:</b>
    <%= @animal.name %>
  </p>

  <p>
    <b>Fødselsdato:</b>
    <%= @animal.birth_date %>
  </p>

  <p>
    <b>Kjønn:</b>
    <%= @animal.sex %>
  </p>

  <% if @animal.mother %>
  <p>
    <b>Mor:</b>
    <%= @animal.mother.id_tag %>
    <%= @animal.mother.name %>
  </p>
  <% end %>

  <% if @animal.father %>
  <p>
    <b>Far:</b>
    <%= @animal.father.id_tag %>
    <%= @animal.father.name %>
  </p>
  <% end %>

  <% if not @animal.children.blank? %>
  <p>
    <b>Lam:</b>
    <ul>
    <% @animal.children.each do |child| %>
      <li><%= child.name %> <%= child.id_tag %></li>
    <% end %>
    </ul>
  <% end %>
  </p>
  <hr>
  <h2>Meldingar</h2>
  <p>
    <table>
    <% @animal.notes.each do |message| %>
      <tr>
	<td><%= message.date_from %></td>
	<td><%= message.note %></td>
      </tr>
    <% end %>
    </table>
  </p>

  <%= link_to 'Rediger', edit_animal_path(@animal), :remote=>true, :class=>"edit_animal btn btn-large btn-primary"  %> |
  <%= link_to 'Tilbake', animals_path, class: "btn btn-large btn-primary"  %>
</div>
