<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Husdyrdatabase", "#", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Heim", root_path %></li>
          <li><%= link_to "Hjelp", help_path %></li>
          <li><%= link_to "Husdyr", animals_path %></li>
          <li><%= link_to "Om", about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
